html {
    font-family: IBM Plex Mono;
    background-color: #FFFDD0;
    color: #000000;
}

body {
    background-color: #fff;
    color: #000000;
}

/* Override UIKit light text color */
.uk-light {
    color: #000000;
}

a {
    color: #000000;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
}

.uk-navbar-container .uk-navbar-nav > li > a {
    color: #000000;
}

.uk-navbar-container .uk-navbar-nav > li > a:hover {
  color: #000000;
  text-decoration: underline;
}

.uk-navbar-container .uk-navbar-item {
    color: #000000;
}
