html {
    font-family: IBM Plex Mono;
    background-color: #FFFDD0;
    color: #000000;
}

body {
    background-color: #fff;
    color: #000000;
}

/* Override UIKit light text color */
.uk-light {
    color: #000000;
}

a {
    color: #000000;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
}

.uk-navbar-container .uk-navbar-nav > li > a {
    color: #000000;
}

.uk-navbar-container .uk-navbar-nav > li > a:hover {
  color: #000000;
  text-decoration: underline;
}

.uk-navbar-container .uk-navbar-item {
    color: #000000;
}

.uk-card-secondary {
  background-color: #181818;
  color: #ededed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #4e4e4e;
  border-radius: 10px;
}